<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <script>
    function highlight()
    {
      var x = document.getElementsByTagName("DIV")[0].getElementsByTagName("SPAN"))
      
    }
  </script>
</head>
<body>
  <i>The links to the other pages will go here</i><br/>
  <big>This is just to get a create file here, and then peple can edit it. The links to this page from the other pages lead to "#"</big>
  Language: <select>
    <option>Python</option>
    <option>HTML</option>
    <option>CSS</option>
  </select>
  <noscript>Code highighting is not supported without JavaScript enabled</noscript>
  <div contenteditable style="border:dotted;height:300px;overflow-y:scroll;" designmode onkeyup="highlight();"></div>
  
</body>
</html>
